@import '../../components/css-variables/colors.scss';

.Nav {
  display: flex;
  margin: 1.5rem 0;
  margin-left: 1.5rem;
  p {
    margin: 0;
    padding: 0rem 1.5rem;
    border-bottom: 3px solid $white-link;
    color: $white-link;
    letter-spacing: -.5px;
    cursor: pointer;
  }
  p:hover:not(.Active) {
    border-bottom: 3px solid $white;
    color: $white;
  }
}

.Active {
  border-bottom: 3px solid $blue-link !important;
  color: $blue-link !important;
}