@import '../../components/css-variables/colors.scss';

.Stats {
  padding: 1rem 0;
  background: $base-color-light-3;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: inherit;
  div {
    flex: 0 0 auto;
    width: 200px;
    border-right: 1px solid $white-border;
    padding: 1.5rem;
    background: $dark-base;
    padding-right: 0;
    p {
      font-size: 15px;
      color: $white-link;
    }
    h2 {
      margin: 0;
      color: $white;
      font-size: 2.2rem;
    }
  }
}
