@import '../css-variables/colors.scss';

.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: $base-color;
  min-width: 300px;
  z-index: 9990;
  height: 100vh;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgb(106, 106, 106);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    a {
      padding: 10px 0;
      padding-left: 1rem;
    }
    a:hover {
      text-decoration: none;
    }
    a:not(.Active) {
      text-decoration: none;
      width: 100%;
      color: #ebecef;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: $base-color-light-1;
      border-top: 0.3px solid $base-color-light-1;
      border-bottom: 0.3px solid $base-color-light-1;
      &:hover {
        background: $base-color-light-2;
        border-top: 0.3px solid $white-border;
        border-bottom: 0.3px solid $white-border;
      }
    }
    a:first-child {
      margin-top: 0;
    }
    a span:not(.Active), i{
      font-weight: normal;
      text-decoration: none;
      color: $white-link;
      margin-left: 1rem;
    }  
  }
}

.Active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  background: $base-color-light-3;
  border-top: 0.3px solid $white-link;
  border-bottom: 0.3px solid $white-link;
  color: $white;
  span {
    color: $white !important;
    font-weight: normal;
    text-decoration: none;
    margin-left: 1rem;
  }
  i {
    color: $white !important;
  }
}

.Logo {
  width: 130px;
  position: absolute;
  bottom: -10px;
  right: 90px;
}

.ProfilePicture {
  position: absolute;
  top: 4rem;
  left: 6rem;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  border: 2px solid $white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}