@import '../css-variables/colors.scss';

.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $base-color;
  min-width: 300px;
  z-index: 10;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 10px #2f2f2f;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    a {
      padding: 10px 0;
      padding-left: 1rem;
    }
    a:hover {
      text-decoration: none;
    }
    a:not(.Active) {
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: $base-color-light-1;
      &:hover {
        span, i {
          color: $white;
          text-shadow: 1px 1px 5px #1f1f1f;
        }
      }
    }
    a:first-child {
      margin-top: 0;
    }
    a span:not(.Active), i{
      font-weight: normal;
      text-decoration: none;
      color: $white-off-link;
      margin-left: 1rem;
    }
  }
}

.Active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  background: $dark-base-1;
  color: $white;
  span {
    color: $white !important;
    font-weight: normal;
    text-decoration: none;
    margin-left: 1rem;
  }
  i {
    color: $white !important;
  }
}

.Logo {
  width: 130px;
  margin-top: 2em;
}

.ProfilePicture {
  border-radius: 50%;
  margin: 1rem;
  width: 40px;
  border: 1px solid $white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.Logout {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 11;
  color: $white;
}
.Logout:hover {
  color: white;
  text-decoration: none;
}

.UserDataContainer {
  width: 100%;
  display: flex;
  align-items: center;
  p {
    margin: 0;
    color: $white;
  }
}