// Define variables for your color scheme

// Base colors:
$base-color: rgb(53, 54, 58);
$base-color-light-1: rgba(53, 54, 58, .9);
$base-color-light-2: rgba(53, 54, 58, .8);
$base-color-light-3: rgba(53, 54, 58, .7);

$dark-base: rgb(49,50,53);
$dark-base-1: rgb(44, 45, 48);

// Whites
$white: rgb(238,238,238);
$white-link: rgba(238, 238, 238, .85);
$white-off-link: rgba(154, 154, 154, .85);
$white-border: rgba(255, 255, 255, .15);

//Blacks
$black: rgba(0, 0, 0, .85);
$black-light-border: rgba(0, 0, 0, .06);
$black-light-border-1: rgba(0, 0, 0, .03);

// Text
$black-text: rgba(0, 0, 0, .55);
$black-text-hover: rgba(0, 0, 0, .75);

// Links
$blue-link: #16a0fb;

// Colors
$primary: #2084c5;
$secondary: #041D2E;
$success: #59FA0A;
$warning: #FA9C16;
$danger: #712423;