// Define variables for your color scheme

// Base colors:
$base-color: #24334A;
$base-color-light-1: #2B3C58;
$base-color-light-2: #344864;
$base-color-light-3: #3E5678;


// Whites
$white: rgba(255, 255, 255, .9);
$white-link: rgba(255, 255, 255, .65);
$white-border: rgba(255, 255, 255, .15);
